<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <%- include('navbar'); -%>
    <div class="newMessageContainer">
      <a href="./new" class="newMessageLink">New Message</a>
    </div>
    <div class="allMessagesContainer">
      <% for (let i = 0; i < message.length; i++) { %>
      <div class="messageContainer">
        <span class="messageContent messageText">
          <%= message[i].message %>
        </span>
        <span class="messageContent"> <%= message[i].author %> </span>
        <span class="messageContent"> <%= message[i].date %> </span>
        <a href="/message/<%= message[i].id %>" class="openMessageLink">Open</a>
      </div>
      <% } %>
    </div>
  </body>
</html>
